*.suo
/CDPReporting/CDPReporting.UI/bin
/CDPReporting/CDPReporting.UI/obj/Debug
/CDPReporting/CDPReporting.UI.Tests/obj/Debug
/MySqlEF6Integration/MySqlEF6Integration.UI/bin
/MySqlEF6Integration/MySqlEF6Integration.UI/obj/Debug
/MySqlEF6Integration/MySqlEF6Integration.UI.Tests/obj/Debug
/MySqlEF6Integration/packages/WebGrease.1.5.2
/MySqlEF6Integration/packages/Respond.1.2.0
/MySqlEF6Integration/packages/Owin.1.0
/MySqlEF6Integration/packages/Newtonsoft.Json.6.0.4
/MySqlEF6Integration/packages/Modernizr.2.6.2
/MySqlEF6Integration/packages/Microsoft.Web.Infrastructure.1.0.0.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Twitter.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.OAuth.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Google.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Facebook.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Cookies.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Security.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.Host.SystemWeb.3.0.1
/MySqlEF6Integration/packages/Microsoft.Owin.3.0.1
/MySqlEF6Integration/packages/Microsoft.Net.Compilers.1.0.0
/MySqlEF6Integration/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/MySqlEF6Integration/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/MySqlEF6Integration/packages/Microsoft.AspNet.WebPages.3.2.3
/MySqlEF6Integration/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/MySqlEF6Integration/packages/Microsoft.AspNet.Razor.3.2.3
/MySqlEF6Integration/packages/Microsoft.AspNet.Mvc.5.2.3
/MySqlEF6Integration/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/MySqlEF6Integration/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/MySqlEF6Integration/packages/Microsoft.AspNet.Identity.Core.2.2.1
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.Web.2.2.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.2.2.0
/MySqlEF6Integration/packages/jQuery.Validation.1.11.1
/MySqlEF6Integration/packages/jQuery.1.10.2
/MySqlEF6Integration/packages/EntityFramework.6.1.3
/MySqlEF6Integration/packages/bootstrap.3.0.0
/MySqlEF6Integration/packages/Antlr.3.4.1.9004
/MySqlEF6Integration/MySqlEF6Integration.DataAccess/obj/Debug
/MySqlEF6Integration/packages/WebGrease.1.6.0
/MySqlEF6Integration/packages/Respond.1.4.2
/MySqlEF6Integration/packages/Newtonsoft.Json.10.0.3
/MySqlEF6Integration/packages/MySql.Data.Entity.6.9.9
/MySqlEF6Integration/packages/MySql.Data.6.9.9
/MySqlEF6Integration/packages/Modernizr.2.8.3
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Twitter.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.OAuth.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.MicrosoftAccount.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Google.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Facebook.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.Cookies.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Security.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.Host.SystemWeb.3.1.0
/MySqlEF6Integration/packages/Microsoft.Owin.3.1.0
/MySqlEF6Integration/packages/Microsoft.Net.Compilers.2.2.0
/MySqlEF6Integration/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.5
/MySqlEF6Integration/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.3.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.WindowsServer.2.3.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.Web.2.3.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.3.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.DependencyCollector.2.3.0
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.7
/MySqlEF6Integration/packages/Microsoft.ApplicationInsights.2.3.0
/MySqlEF6Integration/packages/jQuery.Validation.1.16.0
/MySqlEF6Integration/packages/jQuery.3.1.1
/MySqlEF6Integration/packages/EntityFramework.6.0.0
/MySqlEF6Integration/packages/bootstrap.3.3.7
/MySqlEF6Integration/packages/Antlr.3.5.0.2
